<h4>{{ _('IO 1') }}</h4>
<form class="form-horizontal">
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.enclosure.io1Enable">  {{ _('Enable IO 1') }}
            </label>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="settings-enclosure-io1">{{ _('IO 1 Label') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.enclosure.io1Label">
        </div>
        <label class="control-label" for="settings-enclosure-io1">{{ _('IO 1 Number') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.enclosure.io1Pin">
        </div>
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.enclosure.io1ActiveLow">  {{ _('Active Low') }}
            </label>
        </div>
    </div>
</form>

<h4>{{ _('IO 2') }}</h4>
<form class="form-horizontal">
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.enclosure.io2Enable">  {{ _('Enable IO 2') }}
            </label>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="settings-enclosure-io2">{{ _('IO 2 Label') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.enclosure.io2Label">
        </div>
        <label class="control-label" for="settings-enclosure-io2">{{ _('IO 2 Number') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.enclosure.io2Pin">
        </div>
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.enclosure.io2ActiveLow">  {{ _('Active Low') }}
            </label>
        </div>
    </div>
</form>

<h4>{{ _('IO 3') }}</h4>
<form class="form-horizontal">
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.enclosure.io3Enable">  {{ _('Enable IO 3') }}
            </label>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="settings-enclosure-io3">{{ _('IO 3 Label') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.enclosure.io3Label">
        </div>
        <label class="control-label" for="settings-enclosure-io3">{{ _('IO 3 Number') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.enclosure.io3Pin">
        </div>
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.enclosure.io3ActiveLow">  {{ _('Active Low') }}
            </label>
        </div>
    </div>
</form>

<h4>{{ _('IO 4') }}</h4>
<form class="form-horizontal">
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.enclosure.io4Enable">  {{ _('Enable IO 4') }}
            </label>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="settings-enclosure-io4">{{ _('IO 4 Label') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.enclosure.io4Label">
        </div>
        <label class="control-label" for="settings-enclosure-io4">{{ _('IO 4 Number') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.enclosure.io4Pin">
        </div>
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.enclosure.io4ActiveLow">  {{ _('Active Low') }}
            </label>
        </div>
    </div>
</form>

<h4>{{ _('IO 5') }}</h4>
<form class="form-horizontal">
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.enclosure.io5Enable">  {{ _('Enable IO 5') }}
            </label>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="settings-enclosure-io5">{{ _('IO 5 Label') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.enclosure.io5Label">
        </div>
        <label class="control-label" for="settings-enclosure-io5">{{ _('IO 5 Number') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.enclosure.io5Pin">
        </div>
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.enclosure.io5ActiveLow">  {{ _('Active Low') }}
            </label>
        </div>
    </div>
</form>

<h4>{{ _('IO 6') }}</h4>
<form class="form-horizontal">
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.enclosure.io6Enable">  {{ _('Enable IO 6') }}
            </label>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="settings-enclosure-io6">{{ _('IO 6 Label') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.enclosure.io6Label">
        </div>
        <label class="control-label" for="settings-enclosure-io6">{{ _('IO 6 Number') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.enclosure.io6Pin">
        </div>
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.enclosure.io6ActiveLow">  {{ _('Active Low') }}
            </label>
        </div>
    </div>
</form>

<h4>{{ _('IO 7') }}</h4>
<form class="form-horizontal">
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.enclosure.io7Enable">  {{ _('Enable IO 7') }}
            </label>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="settings-enclosure-io7">{{ _('IO 7 Label') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.enclosure.io7Label">
        </div>
        <label class="control-label" for="settings-enclosure-io7">{{ _('IO 7 Number') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.enclosure.io7Pin">
        </div>
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.enclosure.io7ActiveLow">  {{ _('Active Low') }}
            </label>
        </div>
    </div>
</form>

<h4>{{ _('IO 8') }}</h4>
<form class="form-horizontal">
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.enclosure.io8Enable">  {{ _('Enable IO 8') }}
            </label>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="settings-enclosure-io8">{{ _('IO 8 Label') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.enclosure.io8Label">
        </div>
        <label class="control-label" for="settings-enclosure-io8">{{ _('IO 8 Number') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.enclosure.io8Pin">
        </div>
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.enclosure.io8ActiveLow">  {{ _('Active Low') }}
            </label>
        </div>
    </div>
</form>
