<h1>{{ _('Relay Control') }}</h1>
	<div data-bind="visible: settings.settings.plugins.enclosure.io1Enable">
	<h4><p data-bind="html: settings.settings.plugins.enclosure.io1Label"></p></h4>
	<button type="submit" data-bind="click: handleIO.bind($data, ['io1', 'on']), enable: settings.settings.plugins.enclosure.io1Enable && isConnected()" class="btn">Turn on</button> 
	<button type="submit" data-bind="click: handleIO.bind($data, ['io1', 'off']), enable: settings.settings.plugins.enclosure.io1Enable && isConnected()"   class="btn">Turn off</button>
	</div>
	</hr>
	<div data-bind="visible: settings.settings.plugins.enclosure.io2Enable">
	<h4><p data-bind="html: settings.settings.plugins.enclosure.io2Label"></p></h4>
	<button type="submit" data-bind="click: handleIO.bind($data, ['io2', 'on']), enable: settings.settings.plugins.enclosure.io2Enable && isConnected()" class="btn">Turn on</button> 
	<button type="submit" data-bind="click: handleIO.bind($data, ['io2', 'off']), enable: settings.settings.plugins.enclosure.io2Enable && isConnected()"   class="btn">Turn off</button>
	</div>

	<div data-bind="visible: settings.settings.plugins.enclosure.io3Enable">
	<h4><p data-bind="html: settings.settings.plugins.enclosure.io3Label"></p></h4>
	<button type="submit" data-bind="click: handleIO.bind($data, ['io3', 'on']), enable: settings.settings.plugins.enclosure.io3Enable && isConnected()" class="btn">Turn on</button> 
	<button type="submit" data-bind="click: handleIO.bind($data, ['io3', 'off']), enable: settings.settings.plugins.enclosure.io3Enable && isConnected()"   class="btn">Turn off</button>
	</div>
	
	<div data-bind="visible: settings.settings.plugins.enclosure.io4Enable">
	<h4><p data-bind="html: settings.settings.plugins.enclosure.io4Label"></p></h4>
	<button type="submit" data-bind="click: handleIO.bind($data, ['io4', 'on']), enable: settings.settings.plugins.enclosure.io4Enable && isConnected()" class="btn">Turn on</button> 
	<button type="submit" data-bind="click: handleIO.bind($data, ['io4', 'off']), enable: settings.settings.plugins.enclosure.io4Enable && isConnected()"   class="btn">Turn off</button>
	</div>

	<div data-bind="visible: settings.settings.plugins.enclosure.io5Enable">
	<h4><p data-bind="html: settings.settings.plugins.enclosure.io5Label"></p></h4>
	<button type="submit" data-bind="click: handleIO.bind($data, ['io5', 'on']), enable: settings.settings.plugins.enclosure.io5Enable && isConnected()" class="btn">Turn on</button> 
	<button type="submit" data-bind="click: handleIO.bind($data, ['io5', 'off']), enable: settings.settings.plugins.enclosure.io5Enable && isConnected()"   class="btn">Turn off</button>
	</div>
	</hr>
	<div data-bind="visible: settings.settings.plugins.enclosure.io6Enable">
	<h4><p data-bind="html: settings.settings.plugins.enclosure.io6Label"></p></h4>
	<button type="submit" data-bind="click: handleIO.bind($data, ['io6', 'on']), enable: settings.settings.plugins.enclosure.io6Enable && isConnected()" class="btn">Turn on</button> 
	<button type="submit" data-bind="click: handleIO.bind($data, ['io6', 'off']), enable: settings.settings.plugins.enclosure.io6Enable && isConnected()"   class="btn">Turn off</button>
	</div>

	<div data-bind="visible: settings.settings.plugins.enclosure.io7Enable">
	<h4><p data-bind="html: settings.settings.plugins.enclosure.io7Label"></p></h4>
	<button type="submit" data-bind="click: handleIO.bind($data, ['io7', 'on']), enable: settings.settings.plugins.enclosure.io7Enable && isConnected()" class="btn">Turn on</button> 
	<button type="submit" data-bind="click: handleIO.bind($data, ['io7', 'off']), enable: settings.settings.plugins.enclosure.io7Enable && isConnected()"   class="btn">Turn off</button>
	</div>
	
	<div data-bind="visible: settings.settings.plugins.enclosure.io8Enable">
	<h4><p data-bind="html: settings.settings.plugins.enclosure.io8Label"></p></h4>
	<button type="submit" data-bind="click: handleIO.bind($data, ['io8', 'on']), enable: settings.settings.plugins.enclosure.io8Enable && isConnected()" class="btn">Turn on</button> 
	<button type="submit" data-bind="click: handleIO.bind($data, ['io8', 'off']), enable: settings.settings.plugins.enclosure.io8Enable && isConnected()"   class="btn">Turn off</button>
	</div>

